<div>
  <mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header="id">Id</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header="username">Username</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.username}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header="email">Email</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRow; columns: columnsToDisplay"></mat-row>
  </mat-table>
  <mat-paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[1, 5, 20]">>
  </mat-paginator>
</div>